/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

article {
  text-align: center;
}
header {
  text-align: center;
}
body {
  background-color: #34495e;
  color: #ecf0f1;
  white-space: pre-wrap;
}
ul {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  /* text-align: center; */
}

a {
  color: #ecf0f1;
}
h3 {
  text-align: center;
  color: yellow;
}

input {
  background-color: #34495e;
  color: #ecf0f1;
}
